@media (max-width: 768px) {
	.overlay {
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		position: fixed;
		background: rgba(0, 0, 0, 0.5);
		z-index: 8;
		opacity: 0;
		transform: 0.3s;
		pointer-events: none;
	}
	body.open .overlay {
		opacity: 1;
		pointer-events: auto;
	}
}
