#progress {
	position: fixed;
	/* background: #194eb9; */
	z-index: 1000;
	bottom: 60px;
	right: 10px;
	width: 50px;
	height: 50px;
	display: none;
	place-items: center;
	border-radius: 50%;
	color: #1d002c;
	cursor: pointer;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#progress-value {
	display: grid;
	height: calc(100% - 12px);
	width: calc(100% - 12px);
	background: var(--gradient-color-bg);
	border-radius: 50%;
	color: #fff;
	place-items: center;
	font-size: 25px;
}
