.blog {
	position: relative;
}

.blog-box {
	padding: 0.5rem !important;
}

.cards {
	padding: 1rem 0.1rem;
}

.card {
	background: var(--gradient-white-bg2);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	border-radius: 10px;
	height: auto !important;
}

.card-top {
	overflow: hidden;
	border-radius: 10px 10px 0 0;
}

.card img {
	width: 100%;
	height: 100%;
	aspect-ratio: 4/3;
	object-fit: cover;
	transition: 0.5s;
	display: block;
}

.card:hover img {
	transform: scale(1.1);
}

.card-info {
	padding-bottom: 0.5rem;
}

.card-info h2 {
	font-size: 1.2rem;
	margin-top: 1rem;
}

.card .excerpt {
	color: var(--font-color);
	margin-bottom: 1.5rem;
}

.swiper-pagination {
	position: relative !important;
	margin-top: 3rem;
}

.swiper-pagination-bullet {
	height: 10px !important;
	width: 30px !important;
	border-radius: 25px !important;
	background: var(--gradient-color-bg) !important;
}

.blog .showcase img {
	position: absolute;
	width: 90px;
	height: 90px;
}

.blog .showcase .circle {
	filter: blur(3px);
}

.blog .showcase .ring {
	top: 0;
	left: -1%;
}

.blog .showcase .half-ring {
	top: 10%;
	right: 10%;
}

.blog .showcase .second-circle {
	top: 30%;
	left: 2%;
	filter: blur(1px);
}
