.fillter-buttons {
	text-align: center;
	padding: 0.5rem;
	margin-bottom: 2rem;
}

.fillter-buttons button {
	background: var(--gradient-white-bg2);
	padding: 12px 15px;
	border-radius: 5px;
	border: none;
	font-weight: 500;
	color: #000;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);

	margin-right: 0.5rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.fillter-buttons button:hover,
button.mixitup-control-active {
	background: var(--gradient-color-bg);
	color: #fff;
}

.portfolio-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
	gap: 1rem;
}

.portfolio-img img {
	display: block;
	width: 100%;
	height: 23.04vh;
	transition: 0.3s;
	object-fit: cover;
}

.portfolio-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);

	background: var(--gradient-white-bg2);
	border-radius: 10px;
	transition: all 0.3s ease;
}

.portfolio-content {
	width: 100%;
	padding-left: 0.5rem;
	padding-bottom: 0.5rem;
}

.portfolio-img {
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
}

.portfolio-box:hover img {
	transform: scale(1.1);
}

.readMore {
	background: var(--gradient-white-bg2);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);

	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: 500;
	color: #000;
	margin-right: 0.8rem;
	cursor: pointer;
}

.portfolio-content a.readMore {
	padding: 8px 12px;
	font-size: 0.8rem;
}

.portfolio-content p {
	font-size: 0.9rem;
	color: var(--font-color);
	margin: 0.5rem 0 1rem 0;
}

@media (max-width: 991px) {
	.portfolio-box {
		flex-direction: column-reverse;
	}

	.portfolio-img img {
		width: 100%;
		height: 100%;
	}
	.portfolio-gallery {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
}

@media (max-width: 768px) {
	.fillter-buttons button {
		padding: 10px;
		font-size: 0.8rem;
	}
}

@media (max-width: 530px) {
	.fillter-buttons {
		display: grid;
		grid-gap: 1rem;
	}
	.fillter-buttons button {
		width: 100%;
		padding: 13px;
	}
}
