.services {
	position: relative;
	margin-top: 0px;
}

.allServices {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, auto));
	align-items: center;
	gap: 2rem;
	position: relative;
	z-index: 1;
}

.servicesItem {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);

	padding: 2rem 1rem;
	border-radius: 10px;
	background: var(--gradient-white-bg2);
	text-align: center;
}

.icon-services {
	display: inline-flex;
	position: relative;
}

.icon-services i {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);

	padding: 0.5rem;
	border-radius: 50%;
	background: var(--gradient-color-bg);
	width: 70px;
	height: 70px;
	color: #fff;
	font-size: 2.5rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	z-index: 1;
}

.servicesItem:hover i {
	outline: 1px solid var(--main-color);
	transform: scale(1.2);
}

.icon-services span {
	position: absolute;
	width: 80px;
	height: 80px;
	left: -5px;
	top: -5px;
	background: var(--gradient-color-bg);
	border-radius: 50%;
	animation: animate 1s linear infinite;
}

.servicesItem h3 {
	margin: 1rem 0 0.5rem;
}

.servicesItem p {
	margin-bottom: 1.5rem;
	font-size: 0.9rem;
	color: var(--font-color);
}

.services .text-box span {
	font-size: 1.2rem;
	font-weight: 600;
}

.services .text-box h3 {
	margin-top: 1rem;
	margin-bottom: 2rem;
	font-size: 2.3rem;
	font-weight: 800;
}

.services .text-box .btn {
	padding: 10px 20px;
}

.services .showcase .ring {
	width: 100px;
	height: auto;
	position: absolute;
	top: 2%;
	left: -3%;
}

.services .showcase .circle {
	position: absolute;
	width: 70px;
	height: auto;
	top: 2%;
	right: 6%;
	filter: blur(3px);
}

.services .showcase .circle2 {
	position: absolute;
	width: 40px;
	height: auto;
	filter: blur(3px);
}

.services .showcase .circle3 {
	position: absolute;
	width: 70px;
	height: auto;
	filter: blur(3px);
	bottom: 36%;
	left: 22%;
}

.services .showcase .half-ring {
	position: absolute;
	width: 120px;
	height: auto;
	bottom: 4%;
	right: 6%;
}
