.about {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.about .about-img {
	position: relative;
}

.about .about-img .aboutHero {
	width: 40vw;
	height: auto;
}

.about-img .ring {
	position: absolute;
	top: 22%;
	right: 1%;
}

.about-img .circle {
	position: absolute;
	top: 0%;
	left: 0%;
}

.about-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1;
	overflow: hidden;
}

.text-content {
	flex: 0 0 47%;
	padding: 20px;
	text-align: justify;
}

.image-content {
	flex: 0 0 53%;
}

.image-content img {
	width: 100%;
	height: auto;
}

.about-content h2 {
	color: var(--main-color);
}

.about-content h3 {
	font-size: 2.1rem;
	line-height: 3rem;
	margin: 0.5rem 0;
}

.about-content p {
	color: var(--font-color);
}

.about-btn {
	margin: 0.8rem 0;
}

.about-btn button,
.cvContent a {
	background: var(--gradient-white-bg2);
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	font-size: 1rem;
	font-weight: 500;
	color: #000;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);

	margin-right: 0.5rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.about-btn button.active {
	background: var(--gradient-color-bg);
	color: #ffff;
}

.content-btn > .content:not(:first-child) {
	display: none;
}

.about-btn button:hover {
	box-shadow: var(--hover-box-shadow);
}

.cvContent {
	margin-top: 2.5rem;
}

@media (max-width: 991px) {
	.about {
	  flex-direction: column;
	}
	.about .about-img .aboutHero {
	  width: 100%;
	}
}

@media (max-width: 768px) {
	.about {
		padding: 2rem 0;
	}
	.about-content {
		flex-direction: column;
	}
	.text-content {
		padding: 0 2rem;
		margin-bottom: 2rem;
	}
	.text-content > p {
		width: 100%;
	}
}

@media (max-width: 530px) {
	.about-btn button {
		padding: 10px 15px;
	}
}
